h1{
text-align: center;
color: rgb(94, 94, 214);
}

.col-4{
    padding-left: 5%;
}

.col-6 { 
    padding-left: 10%;
}

.personal-card {
    margin: auto;
}

.event-name{
    font-size: large;
    font-weight: 100;
    text-align: center;
}

.location{
    font-size: large;
    font-weight: 100;
    text-align: center;
}

.date{
    font-size: large;
    font-weight: 100;
    text-align: center;
}

h3{
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;

}

#upcoming-events {
color: aliceblue;
  background-color: rgb(38, 46, 67);
    border: solid 5px grey;

   
    
}

.card-body{
    grid-template-columns: auto auto auto;


}

.card-body img{
    display: grid;
    margin: auto;
    padding: 5px;
    border-radius: 25%;
    border-style: groove;

}

.event-name{
    color: aliceblue;
}

.container-fluid{
    background-color: rgb(173, 211, 255);
}

.button{
    text-align: center;
   background-color: cornflowerblue;

}

.button button{
    text-align: center;
   color: darkblue;

}