.menu-bg{
    font-family: 'Courier New', Courier, monospace;
}

h1{
text-align: center;
color: rgb(94, 94, 214);
}

.col-4{
    padding-left: 5%;
}

.col-6 { 
    padding-left: 10%;
}

.personal-card {
    margin: auto;
}

.event-name{
    font-size: large;
    font-weight: 100;
    text-align: center;
}

.location{
    font-size: large;
    font-weight: 100;
    text-align: center;
}

.date{
    font-size: large;
    font-weight: 100;
    text-align: center;
}

.header {
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;

}

#upcoming-events {
color: aliceblue;
  background-color: rgb(38, 46, 67);
    border: solid 5px lightgray;

   
    
}

.card-body{
    grid-template-columns: auto auto auto;


}

.card-body img{
    display: grid;
    margin: auto;
    padding: 5px;
    border-radius: 25%;
    border-style: groove;

}

.event-name{
    color: aliceblue;
}

.container-fluid{
    background-color: rgb(173, 211, 255);
}

.button{
    text-align: center;
   background-color: rgb(100, 149, 237, 50);

}

.button button{
    text-align: center;
   color: darkblue;

}

#articles {
    border: solid 5px rgb(255, 255, 255);
    background-color: rgb(242, 243, 243);
    padding: 15px
}

h5{
    font-weight: lighter;
}

.article-content{
    border: solid 2px;
    margin: 15pt;
    padding: 15pt;
}


.mb-3{
    margin: 40px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: darkblue;
}

#exampleFormControlTextarea1{
    margin: 10px;
   
}

#submit{
    color: navy;
    background-color:lightskyblue;
    border-radius: 20%;
    margin: 20px;
    
}

.sbutton{
   text-align: center;
   margin: 30px;

}

